*{
	box-sizing: border-box;
}
.wrapper{
	width: 100%;
	max-width: 1940px;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
.container{
	width: 100%;
	max-width: 1520px;
	height: 100%;
	margin: 0 auto;
	padding: 0px 16px;

}
///////////////////////////////////////HEADER//////////////////////
.header {
	width: 100%;
	height: 107px;
	border: 2px solid black;
	.container{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
}
.header__logo {
	max-width: 340px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.header__info {
	font-size: 16px;
	line-height: 34px;
	display: flex;
	width: 40%;
	height: 100%;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.header__info-coord {
	padding-left: 24px;
	background-image: url("../img/header__coord.png");
	background-repeat: no-repeat;
	background-position: 0 50%;
}
.header__info-time {
	padding-left: 32px;
	background-image: url("../img/header__time.png");
	background-repeat: no-repeat;
	background-position: 0 50%;

}
.header__info-phone {
	padding-left: 32px;
	background-image: url("../img/header__phone.png");
	background-repeat: no-repeat;
	background-position: 0 50%;
}
@media(max-width: 1260px){
	.header__info{
		width: 50%;
	}
	.header__info-time{
		display: none;
	}
}
@media(max-width: 900px){
	.header{
		.container{
			justify-content: space-around;
		}
	}
	.header__info{
		width: fit-content;
	}
	.header__info-coord{
		display: none;
	}
	.header__info-phone{
		width: 100%;
	}
}
@media(max-width: 440px){
	.header{
		height: fit-content;
		.container{
			flex-direction: column;
		}
}
}
/////////////////////////MAIN///////////////////////////
.main{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.section1{
	width: 100%;
	height: 607px;
	background-color: #FFFCE2;
	.container{
		display: flex;
		flex-direction: row;
	}
}
.section1__banner{
	width: 100%;
	max-width: 995px;
	height: 100%;
	img{
		width: 100%;
		height: 100%;
	}
}