@charset "UTF-8";
* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, h7 {
  font-family: "Roboto Condensed", sans-serif;
}

p, span {
  font-family: "Inter", sans-serif;
}

.wrapper {
  width: 100%;
  max-width: 1940px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1520px;
  height: 100%;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 107px;
}
.header .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
}

.header__logo {
  max-width: 340px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10%;
}

.header__info {
  font-size: 16px;
  line-height: 34px;
  display: flex;
  width: 40%;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__info-coord {
  padding-left: 24px;
  background-image: url("../img/header__coord.png");
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.header__info-time {
  padding-left: 32px;
  background-image: url("../img/header__time.png");
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.header__info-phone {
  padding-left: 32px;
  background-image: url("../img/header__phone.png");
  background-repeat: no-repeat;
  background-position: 0 50%;
}

@media (max-width: 1260px) {
  .header__info {
    width: 50%;
  }
  .header__info-time {
    display: none;
  }
}
@media (max-width: 900px) {
  .header .container {
    justify-content: space-around;
  }
  .header__logo {
    padding-left: 0;
  }
  .header__info {
    width: fit-content;
  }
  .header__info-coord {
    display: none;
  }
  .header__info-phone {
    width: 100%;
  }
}
@media (max-width: 440px) {
  .header {
    height: fit-content;
  }
  .header .container {
    flex-direction: column;
  }
}
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section1 {
  width: 100%;
  background-color: #FFFCE2;
}
.section1 .container {
  display: flex;
  flex-direction: row;
}

.section1__banner {
  width: 100%;
  max-width: 995px;
  height: 100%;
}
.section1__banner img {
  width: 100%;
  height: 100%;
}

.section1__info {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 525px;
}
.section1__info h2 {
  background-color: #EFD75A;
  font-weight: 700;
  font-size: 25px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  padding: 16px 0px;
  margin: 0;
}

.section1__summary {
  background-color: #D9D9D9;
  width: 100%;
  padding: 8px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 196px;
}
.section1__summary p:first-child {
  font-weight: bold;
}

.section1__form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  padding: 0px 24px;
}
.section1__form p {
  font-weight: 700;
}
.section1__form p span {
  color: red;
  text-transform: uppercase;
}
.section1__form #name {
  background-image: url("../img/section1__name.png");
}
.section1__form #phone {
  background-image: url("../img/section1__phone.png");
}
.section1__form #name, .section1__form #phone {
  border: 2px solid #009826;
  border-radius: 11px;
  height: 54px;
  width: 434px;
  background-repeat: no-repeat;
  background-position: 8px 50%;
  padding-left: 60px;
  font-size: 25px;
}
.section1__form #name::placeholder, .section1__form #phone::placeholder {
  font-size: 20px;
}
.section1__form .section1__agree {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.section1__form #agree {
  width: 20px;
  height: 20px;
  margin-right: 16px;
}
.section1__form .section1__submit {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.section1__form .section1__submit button {
  margin-right: 48px;
}
.section1__form .section__1-timer {
  border: 2px solid #009826;
  background-color: white;
  color: black;
  border-radius: 50%;
  font-size: 25px;
  font-weight: 700;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section1__form button {
  background-color: darkgreen;
  width: 166px;
  height: 48px;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 20px;
  border-radius: 21px;
}

@media (max-width: 1320px) {
  .section1 {
    max-height: none;
  }
  .section1 .container {
    flex-direction: column;
    align-items: center;
  }
  .section1__banner {
    display: none;
  }
  .section1__info {
    width: 100%;
    max-width: none;
  }
  .section1__summary {
    align-items: center;
  }
  .section1__form {
    align-items: center;
    min-height: 300px;
  }
  .section1__form #name {
    width: 100%;
    max-width: 300px;
  }
  .section1__form #phone {
    width: 100%;
    max-width: 300px;
  }
  .section1__agree {
    width: 100%;
    max-width: 300px;
  }
  .section1__submit {
    width: 95%;
    max-width: 300px;
    justify-content: space-between;
  }
}
.section2 .container {
  display: flex;
  flex-direction: column;
  width: 1520px;
  border: 5px solid black;
}
.section2 .container h2 {
  font-size: 60px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
.section2 .container h2 span {
  color: white;
  background-color: red;
  border-radius: 50%;
  padding: 8px 24px;
}
.section2 .container p {
  border: 2px solid black;
}

.section2__slider {
  width: 100%;
  max-width: 1456px;
  height: 323px;
  border: 2px solid aqua;
}

.swiper-container {
  width: 1456px;
  height: 323px;
}

.swiper-slide {
  width: 323px;
  height: 323px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Скрываем дополнительные слайды */
.swiper-slide:nth-child(n+4) {
  display: none;
}